<div style="float: left">
<H4>PROYECTO MIC MAC</h4>
<p> El an치lisis estructural es una herramienta de estructuraci칩n de una reflexi칩n colectiva.<br/> 
Ofrece la posibilidad de describir un sistema con ayuda de una matriz que relaciona todos <br/>
sus elementos constitutivos </p>
<br/>
<p>
  El analisis estructural se realiza por un grupo de trabajo compuesto por actores y expertos<br/>
con experiencia demostrada, pero ello no excluye la intervenci칩n de "consejeros" externos.
</p>
<ol>

  <li>P1. Solicitar el numero de variables de nuestro problema.</li>
  <li>P2. Construir un vector V1 que contendra las variables insertadas.</li>
  <li>P3. Anadir relaciones entre las varibales,de forma que se construya una matriz de influecias directas MID.</li>
  <li>P4. Elevar la matriz MID a un potencia k obteniendo como resultado la matriz de posibles influencias 
          <br/>indirectas MPII.</li>
</ol>
<br/>
<p><strong> Nota: </strong>  No se permite que una variable este relacionada consigo misma. (Diagonal principal ceros)</p>

</div>
<div style="float: center; color:blue;">
<h4>Hay cuatro relaciones </h4>
<ul>
<li>    0  no hay relacion </li>
<li>    1  Relacion Debil  </li>
<li>    2  Relacion Moderada </li>
<li>    3  Relacion fuerte.  </li>
<li>    De esta forma si en la posicion de la matriz MID (1,2) <br/>
        hay un 3 quiere decir que la variable 1 posee <br/>
        una relacion fuerte con la variable 2. </li>
</ul>

<h4> -- Mic Mac -- </h4>
 <%= form_for :index do |f| %>
   <div class='field'>
      <% f.text_box, :numvar %>
   </div>
<%end %>
</div>
